
body {
	background-color: #f5f5f5;
}

a {
	text-decoration: none;
}

a.badge:hover {color: #fff;}
a.badge.bg-primary:hover {color: #fff;background-color: #0b5ed7 !important;border-color: #0a58ca;}
a.badge.bg-secondary:hover {color: #fff;background-color: #5c636a !important;border-color: #565e64;}
a.badge.bg-success:hover {color: #fff;background-color: #157347 !important;border-color: #146c43;}
a.badge.bg-danger:hover {color: #fff;background-color: #bb2d3b !important;border-color: #b02a37;}
a.badge.bg-warning:hover {color: #000;background-color: #ffca2c !important;border-color: #ffc720;}
a.badge.bg-info:hover {color: #000;background-color: #31d2f2 !important;border-color: #25cff2;}
a.badge.bg-light:hover {color: #000;background-color: #f9fafb !important;border-color: #f9fafb;}
a.badge.bg-dark:hover {color: #fff;background-color: #1c1f23 !important;border-color: #1a1e21;}

.tab-pane-wrapper {
	padding: 15px;
	border: 1px solid #dee2e5;
	border-top: 0;
}

#click-photo,
#canvas,
#regForm .tab{
	display: none;
}

/*
#video, #canvas {
	width: 100%;
	height: 370px;
}*/

.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  	background-color: #04AA6D;
}

.invalid {
	border-color: #dc3545;
}

#video {
    border: 1px solid black;
    width: 320px;
    height: 240px;
}

#photo {
    border: 1px solid black;
    width: 320px;
    height: 240px;
}

#canvas {
    display: none;
}

.camera {
    width: 340px;
    /*display: inline-block;*/
    display: none;
}

.output {
    width: 340px;
    display: inline-block;
}

.sep{
	border-bottom: 1px solid #ccc;
}

#timesheet .text-center {
	padding-top: 10px;
}

td {
	vertical-align: middle;
}

.change-time{
	/*justify-content: flex-end;*/
}

.change-time select, 
.change-time button, 
.change-time .input-group-text {
	max-width: 75px;
	height: 25px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.change-time button{
	max-width: 122px;
}